# Clé OpenWeather pour le service météo
OPENWEATHER_API_KEY=VotreCleOpenWeatherIci

# Configuration standard SQLite (local)
DATABASE_PATH=backend/db/locationdevoitures.sqlite

# Configuration MySQL
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=motdepasse
DB_DATABASE=location_de_voiture_db
